h3 {
  text-align: center;
}

body,
html {
  font-family: "Public Sans", sans-serif;
}

#event-container .card {
  display: inline-block;
  flex-grow: 1;
  margin-bottom: 25px;
  width: 100%;
}


#search-container .card {
  display: inline-block;
  flex-grow: 0;
  margin: 20px 0 0 20px;
  width: 25rem;
}

.btn {
  bottom: 0;
  vertical-align: bottom;
}

.btn-primary a {
  color: white;
  text-align: center;
  width: 20px;
}


.dropdown {
  float: right;
  margin-right: 1%;
}

.dropdown-toggle {
  border: solid 1px;
}

.filter-btn {
  bottom: 0;
  position: fixed;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row > div[class*="col-"] {
  display: flex;
}

#event-container {
  margin: 50px 100px;
}

#search-container {
  margin: 50px 100px !important;
}

.column {
  margin-left: 25px;
  width: 23% !important;
}