h3 {
  text-align: center;
}

body,
html {
  font-family: "Public Sans", sans-serif;
}

.card {
  display: inline-block !important;
  flex-grow: 1;
  margin: 20px 0 0 20px;
  /* width: 15% !important; */
  /* width: calc(100% * (1 / 4) - 10px - 1px); */
}

.card-columns {
  column-count: 4 !important;
}

.btn {
  bottom: 0;
  vertical-align: bottom;
}

.btn-primary a {
  color: white;
  text-align: center;
  width: 20px;
}

.dropdown {
  float: right;
  margin-right: 1%;
}

.dropdown-toggle {
  border: solid 1px;
}

.filter-btn {
  bottom: 0;
  position: fixed;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row > div[class*="col-"] {
  display: flex;
}

#event-container {
  margin: 50px 150px;
}

#search-container {
  margin: 50px 100px !important;
}

#search-container .card {
  width: 20% !important;
}