.card {
  margin-top: 20%;
}

.card-title {
  text-align: center;
}

.btn-primary {
  margin: auto;
  margin-bottom: 2%;
}

.close {
  margin: 2% 2% 0 0;
  text-align: right;
}

.btn-primary a {
  color: white;
  text-align: center;
}

.hidden {
  display: none;
}

.event-detail-size {
  min-width: 100%;
}

.alert {
  display: none;
}

#event-container .card {
  margin-top: 10% !important;
  width: 100% !important;
}

#edit-container .card {
  margin-top: 0 !important;
  width: 100% !important;
}

#edit-container-2 {
  text-align: center;
}
