body,
html {
  height: 100%;
  font-family: "Public Sans", sans-serif;
  margin: 0;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://as1.ftcdn.net/jpg/02/85/12/82/500_F_285128239_yUAIjW8lOpIeUaVfUFo3YerJN14fJaD7.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  position: relative;
}

.hero-text {
  color: white;
  padding-top: 180px;
  text-align: center;
}

.hero-subtext {
  color: white;
  text-align: center;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

.container {
  align-items: center;
  margin: auto;
}

h6 {
  text-decoration: underline;
}

.about img {
  display: block;
  height: 200px;
  margin: auto;
  width: 200px;
}

.bottom-subtext {
  color: gray;
  text-align: right;
}
