body,
html {
  height: 100%;
  font-family: "Public Sans", sans-serif;
  margin: 0;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://image.freepik.com/free-vector/crowd-people-walking-outdoors-night-market_74855-7109.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  position: relative;
}

.hero-text {
  color: white;
  left: 40%;
  position: absolute;
  top: 40%;
  transform: translate(-50%, -50%);
}

.hero-subtext {
  color: white;
  left: 50%;
  position: absolute;
  top: 55%;
  transform: translate(-50%, -50%);
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

.button {
  background-color: #91d4ed;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin: auto;
  padding: 10px;
  text-align: center;
}
.container {
  align-items: center;
  margin: auto;
}

h6 {
  text-decoration: underline;
}

.about img {
  height: 300px;
  width: 300px;
}
