body,
html {
  font-family: "Public Sans", sans-serif;
  height: 100%;
  margin: 0;
}

h3 {
  text-align: center;
}

#profile-form {
  margin: auto;
}

#prefilled-skills {
  display: none;
}

input {
  margin-left: 1rem;
}

img {
  height: 240px;
  width: 240px;
}

#image-form {
  margin-left: 5rem;
}
