body,
html {
  font-family: "Public Sans", sans-serif;
  height: 100%;
  margin: 0;
}

h3 {
  text-align: center;
}

.panel-body {
  margin: auto;
  width: 80%;
}

.btn-primary {
  float: right;
  margin-right: 1%;
}

.btn-primary a {
  color: white;
  text-align: center;
  width: 20px;
}

.btn-link {
  color: black;
}

.list-group-item {
  border: none;
}

img {
  height: 300px;
  width: 300px;
}

#accordion {
  width: 100%;
}

.profile-desc {
  font-size: 1.5rem;
}

.card {
  width: 500px;
}