.btn-interests {
  background-color: #e5e0ec !important;
  border: none !important;
  color: black !important;
  cursor: default !important;
  margin: 0.25rem;
}

.btn-skills {
  background-color: #f7cecb !important;
  border: none !important;
  color: black !important;
  cursor: default !important;
  margin: 0.25rem;
}

.adder {
  background-color: #eee !important;
  border: none !important;
  color: black !important;
}

.bootstrap-tagsinput .tag {
  border-radius: 4px !important;
  color: #595959 !important;
  margin-top: 5px !important;
  padding: 5px 8px !important;
}

#interests-div .bootstrap-tagsinput span {
  background-color: #efebf2 !important;
}

#skills-div .bootstrap-tagsinput span {
  background-color: #fae0de !important;
}

.btn-group {
  margin: 5px 8px;
}

.card {
  float: left !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.grid {
  margin-left: 5% !important;
  margin-right: 5% !important;
}

.grid-sizer,
.grid-item {
  width: 15% !important;
}

.grid-item--level-1 {
  font-size: 85% !important;
  width: 15% !important;
}

.grid-item--level-2 {
  font-size: 90% !important;
  width: 15% !important;
}

.grid-item--level-3 {
  width: 20% !important;
}
