.btn-interests {
  background-color: #e5e0ec !important;
  border: none !important;
  color: black !important;
  cursor: default !important;
}

.btn-skills {
  background-color: #f7cecb !important;
  border: none !important;
  color: black !important;
  cursor: default !important;
}

.adder {
  background-color: #eee !important;
  border: none !important;
  color: black !important;
}

.bootstrap-tagsinput span {
  background-color: #007bff !important;
}
